.blue {
    background: #0A4FF8;
    height: 500px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title {

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
}

.prodname {
    margin-top: 100px;
    margin-bottom: 100px;

}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.brands {
    margin-left: 175px;
}

.logos {
    margin-right: 40px;

}

.resources {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;

}

.content {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.socialMedia {
    font-family: 'Jost';
    font-style: italic;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.lastDiv {
    display: flex;
    justify-content: space-between;
}

.lastSubDiv {
    display: flex;
}

.lastText {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 50px;
    padding-right: 50px;

}